.nf_page {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 100vh;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
}

.nf_page--wrap {
  width: 100%;
  max-width: 1520px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.nf_img {
  position: relative;
  width: 100%;
  max-width: 741px;
  margin-right: 100px;

  svg {
    position: relative;
    width: 100%;
    height: auto;

    #Layer_591_copy_2 {
      position: relative;
      z-index: 3;
      animation: NfSvgAnimSecond 10s ease-in-out infinite;
    }
    #Vector_Smart_Object-2 {
      position: relative;
      z-index: 2;
    }
    #Vector_Smart_Object-3 {
      animation: NfSvgAnimFirst 5s ease-in-out infinite;
    }
  }
}

.nf_info {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;

  .nf_text--title {
    color: #1e1f29;
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 48px;
  }

  .nf_text--description {
    color: #4c4f70;
    font-size: 27px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 60px;
  }
}


.nf_btn {
  width: 100%;
  max-width: 212px;
  height: 81px;
  background-color: #2c37e3;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 20px 60px rgba(#2c37e3, .0);
  transition: box-shadow .4s ease-in-out;

  &:hover {
    box-shadow: 0 20px 60px rgba(#2c37e3, .3);

    span {
      color: #2c37e3;
    }

    &:before {
      height: 100%;
    }
  }

  span {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    transition: color .4s ease-in-out;
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    background: #fff;
    transition: height .4s ease-in-out;
  }
}

@keyframes NfSvgAnimFirst {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -0.5%) scale(1.02);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes NfSvgAnimSecond {
  0% {
    transform: translate(0, 0) scale(1);
  }
  50% {
    transform: translate(0, -0.1%) scale(.95);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}