.base_page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 107px;
  padding-bottom: 80px;

  .base_page--line {
    position: absolute;
    bottom: 36%;
    right: 27%;
    width: 84px;
  }

  .base_page--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
  }
}

.base_top, .base_main {
  position: relative;
  z-index: 2;
}

.base_top {
  padding-top: 95px;
  position: relative;
  margin-bottom: 135px;
}

.base_top--wrap {
  width: 100%;
  max-width: 1800px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;

  .b_t--w--line {
    position: absolute;
    top: -80px;
    left: 850px;
    width: 54px;
  }

  .base_top--icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 340px;
    height: auto;
    transform: translate(-50%, -20%);
  }
}

.base_top--title {
  width: fit-content;
  color: #1e1f29;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;

  .square_icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 97px;
    transform: translate(40%, -40%);
  }
}
@keyframes BaseSquareAnimationFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(-5%, 5%) rotate(120deg) scale(.96);
  }
  70% {
    transform: translate(-5%, 5%) rotate(240deg) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.base_main--wrap {
  width: 100%;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.base_main--block {
  margin-bottom: 100px;

  &:last-child {
    margin-bottom: 0;
  }
}

.b_m--b--title {
  color: #2c37e3;
  font-size: 37px;
  font-weight: 500;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.b_m--b--list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  a {
    width: 100%;
    max-width: 170px;
    color: #1e1f29;
    font-size: 18px;
    font-weight: 600;
    margin: 0 140px 48px 0;
    position: relative;
    transition: color .4s ease-in-out;

    &:hover {
      &:before {
        width: 80px;
      }
    }

    &:before {
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 0;
      height: 2px;
      background: #2c37e3;
      content: '';
      z-index: -1;
      transition: width .4s ease-in-out;
    }
  }
}


.base_inner--page {
  position: relative;
  padding-top: 236px;

  .base_inner--page--bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 76.5%;
    object-fit: cover;
    z-index: 1;
  }
}

.base_inner--wrap {
  width: 100%;
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

.base_inner--top {
  position: relative;
}

.base_inner--info {
  margin-bottom: 110px;
}

.base_inner--category {
  position: relative;

  .b_i--c--prev {
    position: absolute;
    top: 50%;
    left: -90px;
    transform: translateY(-50%);
    color: #2c37e3;
  }

  .base_inner--name {
    color: #2c37e3;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.base_inner--title {
  color: #1e1f29;
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.b_i--img {
  width: 100%;
  max-width: 1150px;
  position: relative;
  height: 367px;
  overflow: hidden;
  margin-bottom: 130px;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.b_i--text {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;

  h2 {
    color: #1e1f29;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 40px;
  }

  p {
    color: #4c4f70;
    font-size: 21px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 40px;
  }

  ul {
    margin-bottom: 50px;
    margin-top: 10px;
    padding-left: 69px;

    li {
      color: #4c4f70;
      font-size: 21px;
      font-weight: 400;
      position: relative;
      margin-bottom: 25px;

      &:before {
        position: absolute;
        top: 13px;
        left: -25px;
        width: 7px;
        height: 7px;
        background-color: #2c37e3;
        content: '';
      }
    }
  }

  .b_i--description {
    color: #66698f;
    font-size: 29px;
    font-weight: 300;
    line-height: 45px;
    margin-bottom: 80px;
  }
}

.base_inner--buttons {
  width: 100%;
  max-width: 940px;
  display: flex;
  margin: 0 auto;
}

.b_i--btn--prev {
  width: 50%;
  height: 220px;
  position: relative;
  background-color: #f8f9fd;
  display: flex;
  flex-direction: column;
  padding: 65px 73px;
  justify-content: space-between;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
    transition: width .4s ease-in-out;
    content: '';
    background: #2c37e3;
  }

  &:hover {
    &:after {
      width: 100%;
    }
    i {
      color: #fff;
    }
    span {
      margin-left: 30px;
      color: #fff;
    }
  }

  i {
    color: #163eff;
    z-index: 2;
    transition: color .4s ease-in-out;
  }

  span {
    color: #797a91;
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    margin-left: 0;
    transition: margin-left .4s ease-in-out,  color .4s ease-in-out;
    z-index: 2;
  }
}

.b_i--btn--next {
  width: 50%;
  height: 220px;
  position: relative;
  background-color: #f8f9fd;
  display: flex;
  flex-direction: column;
  padding: 65px 73px;
  justify-content: space-between;
  text-align: right;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    content: '';
    z-index: 1;
    transition: width .4s ease-in-out;
    background: #2c37e3;
  }

  &:hover {
    &:after {
      width: 100%;
    }
    i {
      color: #fff;
    }
    span {
      margin-right: 30px;
      color: #fff;
    }
  }

  i {
    color: #163eff;
    z-index: 2;
    transition: color .4s ease-in-out;
    transform: rotate(180deg);
    transform-origin: right center 0;
    margin-right: 20px;
  }

  span {
    color: #797a91;
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    margin-left: 0;
    transition: margin-right .4s ease-in-out,  color .4s ease-in-out;
    z-index: 2;
  }
}