.websites_main {
  &.branding_main {
    .p_i--wrap--icon {

      svg {
        width: 388px;

        #Shape_594_copy_2 {
          position: absolute;
          transform-origin: center center 0;
        }

        use {
          animation: brandingAnimateImageFirst 10s ease-in-out infinite;
          transform-origin: center center 0;
        }

        image {
          animation: brandingAnimateImageSecond 15s ease-in-out infinite;
          transform-origin: center center 0;
        }
      }
    }

    .p_i--wrap--text {
      .p_i--wrap--description {
        max-width: 720px;
      }
    }
  }
}

@keyframes brandingAnimateSquare {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(2%, 1%) rotate(5deg) scale(.95);
  }
  70% {
    transform: translate(2%, 2%) rotate(0) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes brandingAnimateImageFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(.95);
  }
  50% {
    transform: translate(0, 0) rotate(20deg) scale(.90);
  }
  70% {
    transform: translate(0, 0) rotate(0) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(.95);
  }
}

@keyframes brandingAnimateImageSecond {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(1%, 2%) rotate(0deg) scale(.95);
  }
  70% {
    transform: translate(3%, 5%) rotate(0) scale(.95);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.branding_calc {
  width: 100%;
  position: relative;
  padding: 182px 0 170px;
  background: #f7f8fd;
}

.b_c--wrap {
  width: 100%;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.b_c--title {
  color: #1e1f29;
  font-size: 49px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.b_c--calculator {
  display: flex;
  align-items: flex-start;
}

.b_c--left {
  width: 50%;
  display: flex;
}

.b_c--brand {
  width: 100%;
  max-width: 320px;
  margin-right: 86px;
}

.b_c--b--title {
  display: flex;

  span {
    color: #1e1f29;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 60px;
  }

  .b_c--b__info {
    margin-left: 11px;
    position: relative;

    i {
      width: 17px;
      height: 17px;
      cursor: pointer;
      color: #a9adda;
      font-size: 20px;

      &:hover {
        ~ span {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-140%);
      background: #fff;
      color: #1e1f29;
      font-size: 14px;
      text-align: center;
      border-radius: 30px;
      width: 200px;
      display: block;
      padding: 10px 10px;
      opacity: 0;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
      visibility: hidden;
    }
  }
}

.b_c--b--buttons {
  display: flex;

  .b_c--b--btn {
    width: 100%;
    max-width: 194px;
    height: 80px;
    border: 2px solid #e6e7f4;
    background-color: #f6f8fd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border .4s ease-in-out, background-color .4s ease-in-out;

    &:nth-child(1) {
      max-width: 148px;
    }

    &.active, &:hover {
      border: 2px solid #2c37e3;
      background-color: #2c37e3;

      span {
        color: #ffffff;
      }
    }

    span {
      text-align: center;
      color: #aeb0d1;
      font-size: 20px;
      font-weight: 400;
      transition: color .4s ease-in-out;
    }
  }
}

.b_c--quantity {
  .b_c--q--title {
    display: flex;

    span {
      color: #1e1f29;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 60px;
    }

    .b_c--b__info {
      margin-left: 11px;
      position: relative;

      i {
        width: 17px;
        height: 17px;
        cursor: pointer;
        color: #a9adda;
        font-size: 20px;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: 14px;
        text-align: center;
        border-radius: 30px;
        width: 200px;
        display: block;
        padding: 10px 10px;
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }
    }
  }

  .b_c--q--buttons {
    display: flex;

    .b_c--q--btn {
      width: 80px;
      height: 80px;
      border: 2px solid #e6e7f4;
      background-color: #f6f8fd;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: border .4s ease-in-out, background-color .4s ease-in-out;
      margin-right: 23px;

      &:last-child {
        margin-right: 0;
      }

      &.active, &:hover {
        border: 2px solid #2c37e3;
        background-color: #2c37e3;

        span {
          color: #fff;
        }
      }

      span {
        color: #aeb0d1;
        font-size: 25px;
        font-weight: 400;
        transition: color .4s ease-in-out;
      }
    }
  }
}

.b_c--right {
  padding-left: 120px;
  margin-top: -10px;

  .b_c--right--title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    span {
      color: #1e1f29;
      font-size: 20px;
      font-weight: 500;
      margin-right: 19px;
    }

    .b_c--r--t--info {
      border-radius: 23px;
      border: 1px solid #e6e7f4;
      background-color: #f6f8fd;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      position: relative;

      span {
        color: #8c8ea7;
        font-size: 18px;
        font-weight: 400;
        margin-right: 12px;
      }

      .b_c--b__info {
        margin-left: 11px;
        position: relative;

        i {
          width: 17px;
          height: 17px;
          cursor: pointer;
          color: #a9adda;
          font-size: 20px;

          &:hover {
            ~ span {
              opacity: 1;
              visibility: visible;
            }
          }
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-50%) translateY(-140%);
          background: #fff;
          color: #1e1f29;
          font-size: 14px;
          text-align: center;
          border-radius: 30px;
          width: 200px;
          display: block;
          padding: 10px 10px;
          opacity: 0;
          transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
          visibility: hidden;
        }
      }
    }
  }

  .b_c--right--result {
    display: flex;

    .b_c--right--result--sum {
      color: #1e1f29;
      font-size: 85px;
      font-weight: 800;
      text-transform: uppercase;
      margin-right: 30px;
    }

    .b_c--right--result--day {
      color: #8c8ea7;
      font-size: 85px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.branding_info {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 168px 0 40px;
  overflow: hidden;

  &.animation {
    .b_i--i--point {
      &:before {
        width: 0;
      }

      i {
        opacity: 0;
      }

      &:after {
        width: 0;
      }
    }


    .branding_info--item {
      &:nth-child(1) {
        .b_i--i--title {
          opacity: 0;
          transition: opacity .6s ease-in-out 2.4s;
        }
        .b_i--i--text {
          opacity: 0;
          transition: opacity .6s ease-in-out 2.8s;
        }
        .b_i--i--icon {
          opacity: 0;
          transition: opacity .6s ease-in-out 2s;
        }
      }
      &:nth-child(2) {
        .b_i--i--point {
          i {
            transition: .4s ease-in-out 3s;
          }
          &:before {
            width: 0;
            transition: .4s ease-in-out 3s;
          }

          &:after {
            width: 0;
          }
        }
        .b_i--i--title {
          opacity: 0;
          transition: opacity .6s ease-in-out 4s;
        }
        .b_i--i--text {
          opacity: 0;
          transition: opacity .6s ease-in-out 4.4s;
        }
        .b_i--i--icon {
          opacity: 0;
          transition: opacity .6s ease-in-out 3.6s;
        }
      }

      &:nth-child(3) {
        .b_i--i--point {
          i {
            transition: .4s ease-in-out 4.4s;
          }
          &:before {
            width: 0;
            transition: .4s ease-in-out 4.4s;
          }

          &:after {
            width: 0;
          }
        }
        .b_i--i--title {
          opacity: 0;
          transition: opacity .6s ease-in-out 5.2s;
        }
        .b_i--i--text {
          opacity: 0;
          transition: opacity .6s ease-in-out 5.6s;
        }
        .b_i--i--icon {
          opacity: 0;
          transition: opacity .6s ease-in-out 4.8s;
        }
      }
    }

    &.active {
      .b_i--i--point {
        &:before {
          width: 100%;
        }

        i {
          opacity: 1;
        }

        &:after {
          width: 100%;
        }
      }


      .branding_info--item {
        &:nth-child(1) {
          .b_i--i--title {
            opacity: 1;
          }
          .b_i--i--text {
            opacity: 1;
          }
          .b_i--i--icon {
            opacity: 1;
          }
        }

        &:nth-child(2) {
          .b_i--i--point {
            &:before {
              width: 140%;
            }

            &:after {
              width: 140%;
            }
          }
          .b_i--i--title {
            opacity: 1;
          }
          .b_i--i--text {
            opacity: 1;
          }
          .b_i--i--icon {
            opacity: 1;
          }
        }

        &:nth-child(3) {
          .b_i--i--point {
            &:before {
              width: 140%;
            }

            &:after {
              width: 200%;
              transition: .4s ease-in-out 5.8s;
            }
          }
          .b_i--i--title {
            opacity: 1;
          }
          .b_i--i--text {
            opacity: 1;
          }
          .b_i--i--icon {
            opacity: 1;
          }
        }
      }
    }
  }


  .branding_info--wrap {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .branding_info--item {
    flex: 1 1 30%;
    max-width: 380px;

    &:nth-child(1) {
      .b_i--i--title {
        transition: opacity .6s ease-in-out 2s;
      }
    }

    &:nth-child(2) {
      .b_i--i--icon {
        width: 61px;
      }

      .b_i--i--point {
        &:before {
          position: absolute;
          top: 50%;
          left: -140%;
          width: 140%;
          height: 3px;
          background-color: #eeeff9;
          content: '';
          transform: translateY(-50%);
          z-index: 1;
          transition: 1s ease-in-out 2.8s;
        }
      }
    }

    &:nth-child(3) {
      .b_i--i--icon {
        width: 69px;
      }

      .b_i--i--point {
        &:before {
          position: absolute;
          top: 50%;
          left: -140%;
          width: 140%;
          height: 3px;
          background-color: #eeeff9;
          content: '';
          transform: translateY(-50%);
          z-index: 1;
          transition: .4s ease-in-out 1.2s;
        }

        &:after {
          position: absolute;
          top: 50%;
          left: 0;
          width: 200%;
          height: 3px;
          background-color: #eeeff9;
          content: '';
          transform: translateY(-50%) translateX(0);
          z-index: 1;
          transition: .4s ease-in-out 1.6s;
        }
      }
    }
  }

  .b_i--i--icon {
    margin-bottom: 91px;
    position: relative;
    width: 78px;

    svg {
      position: relative;
      width: 100%;
    }

  }

  .b_i--i--point {
    position: relative;
    margin-bottom: 82px;

    i {
      position: relative;
      width: 17px;
      height: 17px;
      background-color: #2c37e3;
      display: block;
      border-radius: 50%;
      z-index: 2;
      transition: opacity 1s ease-in-out 1.8s;
    }

    &:before {
      position: absolute;
      top: 50%;
      left: -100%;
      width: 100%;
      height: 3px;
      background-color: #eeeff9;
      content: '';
      transform: translateY(-50%);
      z-index: 1;
      transition: width 1s ease-in-out 1s;
    }
  }

  .b_i--i--title {
    color: #1e1f29;
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 40px;
  }

  .b_i--i--text {
    p {
      color: #4c4f70;
      font-size: 22px;
      font-weight: 300;
      line-height: 33px;
    }
  }


}