.contacts_page {
  width: 100%;
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 240px;

  &:before {
    width: 18.2%;
    height: 100%;
    background-color: #121218;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &:after {
    width: 81.8%;
    height: 100%;
    background-color: #202ce5;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  .contacts_wrap {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    max-width: 1520px;
    padding: 0 10px;
    margin: 0 auto;
    height: calc(100% - 240px);
    left: 50%;
    transform: translateX(-50%);
  }

  .main_screen--menu {
    position: absolute;

    .m_s--points {
      display: none;
    }
  }
}

.contacts_top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.hidden {
    .contacts_top--wrap--left {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.contacts_top--wrap--left {
  width: 100%;
  max-width: 820px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  visibility: visible;
}

.c_t--w--l--tel {
  display: flex;
  margin-bottom: 90px;
  align-items: center;

  a {
    color: #ffffff;
    font-size: 82px;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &:before {
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 0;
      height: 2px;
      background: #fff;
      content: '';
      transition: width .4s ease-in-out;
    }
  }
}

.c_t--w--l--tel--icon {
  width: 98px;
  height: 98px;
  background-color: #1e1f29;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;

  i {
    color: #fff;
    font-size: 44px;
  }
}

.c_t--w--l--telegram {
  display: flex;
  align-items: center;

  a {
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
      .c_t--w--l--telegram--arrow {
        background-color: #fff;
        color: #0c10ff;
        margin-left: 4%;
      }

      &:before {
        width: calc(100% - 120px);
      }
    }

    &:before {
      position: absolute;
      bottom: 4px;
      left: 0;
      width: 0;
      height: 2px;
      background: #fff;
      content: '';
      transition: width .4s ease-in-out;
    }

    span {
      color: #ffffff;
      font-size: 82px;
      font-weight: 500;
      margin-right: 41px;
    }

    .c_t--w--l--telegram--arrow {
      margin-top: 18px;
      color: #ffffff;
      font-size: 16px;
      width: 81px;
      height: 50px;
      border-radius: 25px;
      border: 1px solid rgba(#b9bdff, .32);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: margin-left .4s ease-in-out, color .4s ease-in-out, background-color .4s ease-in-out;
      margin-left: 0;
    }
  }

}

.c_t--w--l--telegram--icon {
  width: 98px;
  height: 98px;
  background-color: #1e1f29;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 45px;

  i {
    color: #fff;
    font-size: 32px;
  }
}

.contacts_top--wrap--right {
  width: 100%;
  max-width: 491px;
  position: relative;
  margin-top: 50px;

  .c_t--w--r--icon {
    animation: animateContactIcon 8s ease-in-out infinite both;

    svg {
      -webkit-filter: drop-shadow(61px 187px 83px rgba(6, 13, 115, 0.27));
      filter: drop-shadow(61px 187px 83px rgba(6, 13, 115, 0.27));
    }
  }
}

@keyframes animateContactIcon {
  0% {
    transform: translateY(0) scale(1);
  }
  40% {
    transform: translateY(-8%) scale(.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.contacts_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &.hidden {
    .contacts_btn {
      opacity: 0;
      visibility: hidden;
    }
  }

  .contacts_btn {
    width: 100%;
    max-width: 690px;
    height: 180px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 98px 0 79px;
    position: relative;
    box-shadow: -20px -20px 60px rgba(#fff, 0);
    transition: opacity .4s ease-in-out, box-shadow .4s ease-in-out, visibility .4s ease-in-out;
    opacity: 1;
    visibility: visible;

    &:hover {
      box-shadow: -20px -20px 60px rgba(#fff, .2);

      &:before {
        width: 70%;
      }

      span {
        color: #fff;
      }
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #0c10ff;
      transition: width .4s ease-in-out;
      z-index: 2;
    }

    span {
      color: #1e1f29;
      font-size: 32px;
      font-weight: 400;
      transition: color .4s ease-in-out;
      position: relative;
      z-index: 3;
    }

    i {
      color: #1e1f29;
      font-size: 14px;
      margin-right: 20px;
    }
  }

  .contacts_bottom--social {
    width: 100%;
    max-width: 405px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      color: #8792ff;
      font-size: 24px;
      font-weight: 300;
      text-transform: uppercase;
    }

    .contacts_bottom--social--icons {
      display: flex;
      align-items: center;

      .c_b--s--i--items {
        width: 58px;
        height: 58px;
        border: 1px solid rgba(#b9bdff, 0.32);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 20px;
        position: relative;
        transition: border .4s ease-in-out;

        .inst {
          fill: #fff;
          width: 20px;
          height: 20px;
        }

        &:nth-child(2) {
          i {
            font-size: 14px;
            left: -5px;
          }
        }

        &:nth-child(3) {
          i {
            font-size: 16px;
          }
        }

        &:hover {
          border: 1px solid rgba(#b9bdff, 1);

          &:before {
            opacity: 1;
          }

        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          border: 1px solid rgba(#b9bdff, 1);
          z-index: 2;
          width: 100%;
          height: 100%;
          transition: opacity .4s ease-in-out;
          border-radius: 50%;
          opacity: 0;
          filter: blur(3px);
        }

        &:last-child {
          margin-right: 0;
        }

        i {
          color: #fff;
          position: relative;
          z-index: 4;
          transition: color .4s ease-in-out;
        }
      }
    }
  }
}

.contacts_popup {
  position: fixed;
  top: -200vh;
  left: 240px;
  width: 100%;
  max-width: 721px;
  z-index: 10;
  transform: translateY(-40%);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

  &.active {
    top: 50%;
    opacity: 1;
    visibility: visible;
  }

  &.success {
    .contacts_popup--wrap {
      .c_p--success {
        opacity: 1;
        visibility: visible;
        position: relative;
      }

      .c_p--info {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  .contacts_popup--wrap {
    width: 100%;
    background-color: #fff;
    padding: 140px 79px 88px;
    position: relative;

    .c_p--success {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      .c_p--success--icon {
        position: relative;
        width: 117px;
        margin-bottom: 80px;

        svg {
          position: relative;
          z-index: 3;
        }

        .circle {
          position: absolute;
          top: -15%;
          left: -10%;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          z-index: 2;


          &:before, &:after {
            position: absolute;
            top: -10%;
            left: -10%;
            width: 120%;
            height: 120%;
            border-radius: 50%;
            border: 2px solid #2c37e3;
            content: '';
            animation: animate 1.5s ease-in-out infinite;
            opacity: 0;
          }
          &:after {
            animation-delay: .5s;
          }

          @keyframes animate {
            0% {
              transform: scale(.8);
              opacity: 0;
            }
            50% {
              opacity: 1;
            }
            100% {
              transform: scale(1.2);
              opacity: 0;
            }
          }
        }
      }

      .c_p--success--title {
        color: #1e1f29;
        font-size: 48px;
        font-weight: 500;
      }

      .c_p--success--description {
        color: #1e1f29;
        font-size: 38px;
        font-weight: 300;
      }
    }

    .contacts_popup--title {
      color: #121218;
      font-size: 120px;
      font-weight: 800;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateY(-100%) translateX(-50%);
      line-height: 101px;
    }

    .contacts_popup--cls {
      position: absolute;
      top: 0;
      right: 0;
      width: 114px;
      height: 114px;
      background-color: #f3f4fe;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        &:before {
          width: 100%;
        }

        i {
          &:before {
            background: #fff;
          }

          &:after {
            background: #fff;
          }
        }
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        content: '';
        background: #2c37e3;
        transition: width .4s ease-in-out;
        z-index: 1;
      }

      i {
        width: 24px;
        position: relative;
        z-index: 3;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 24px;
          height: 1px;
          background: #696c81;
          transform: rotate(45deg);
          transition: background .4s ease-in-out;
        }

        &:after {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          width: 24px;
          height: 1px;
          background: #696c81;
          transform: rotate(-45deg);
          transition: background .4s ease-in-out;
        }
      }
    }

    .contacts_popup--form {
      width: 100%;
    }

    button {
      width: 100%;
      max-width: 285px;
      display: flex;
      align-items: center;
      background: none;
      border: none;
      font-family: $Din;
      cursor: pointer;
      height: 60px;

      span {
        color: #1e1f29;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 38px;
      }

      i {
        color: #1e1f29;
      }
    }

    .contacts_popup--input {
      position: relative;
      width: 100%;
      height: 60px;
      margin-bottom: 60px;

      &:before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 0;
        height: 1px;
        background: #2c37e3;
        transition: width .4s ease-in-out;
        z-index: 3;
      }


      &.active {
        &:before {
          width: 100%;
        }

        span {
          top: -10px;
          font-size: 15px;
        }
      }

      &.click {
        &:before {
          width: 100%;
        }

        span {
          top: -10px;
          font-size: 15px;
        }
      }

      &:nth-child(2) {
        margin-bottom: 100px;
      }

      span {
        position: absolute;
        top: 10px;
        left: 0;
        color: #5a5c6c;
        font-size: 25px;
        font-weight: 300;
        transition: top .4s ease-in-out, font-size .4s ease-in-out;
        z-index: 1;
      }

      input {
        width: 100%;
        border: none;
        background: transparent;
        border-bottom: 1px solid #e0e0e6;
        height: 60px;
        position: relative;
        left: 0;
        color: #2c37e3;
        font-size: 25px;
        font-weight: 800;
        z-index: 2;


        &:focus {
          ~ span {
            top: -10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #2c37e3;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}