.corporate_page {
  background-image: none;
  background-color: #fff;
  overflow: hidden;

  .shop_page--bg {
    max-height: 1800px;
  }

}

.corporate_page--goals {
  width: 100%;
  padding-bottom: 156px;

  .c_p--g--wrap {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 2;
    counter-reset: items;
    overflow: hidden;
  }

  .c_p--g--item {
    width: 100%;
    max-width: 209px;
    background-color: #f1f2fb;
    margin-right: 20px;
    padding: 95px 112px 106px 77px;
    transition: max-width .4s ease-in-out, background-color .4s ease-in-out;
    position: relative;
    min-height: 579px;
    cursor: pointer;
    overflow: hidden;

    &:before {
      position: absolute;
      top: 0;
      right: 45px;
      width: 2px;
      height: 77px;
      background-color: #b0b3dc;
      opacity: 0.5;
      content: '';
      transition: background-color .4s ease-in-out, right .4s ease-in-out;
    }

    &:after {
      position: absolute;
      top: 86px;
      right: 33px;
      counter-increment: items;
      content: '0' counter(items);
      color: #b0b3dc;
      font-size: 25px;
      font-weight: 300;
      transition: color .4s ease-in-out, right .4s ease-in-out;
    }

    .c_p--g--title {
      position: absolute;
      bottom: 40px;
      right: 10px;
      transform: rotate(-90deg) translateX(50%);
      text-align: left;
      opacity: 1;
      visibility: visible;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      span {
        color: #686a8e;
        font-size: 24px;
        font-weight: 300;
      }
    }

    .c_p--g--info {
      top: -200vh;
      left: 0;
      opacity: 0;
      position: absolute;
      visibility: hidden;
      max-height: 0;
      transition: position .0s ease-in-out, opacity .0s ease-in-out, visibility .0s ease-in-out, max-height .0s ease-in-out;

      .c_p--g--info--icon {
        width: 67px;
        position: relative;
        margin-bottom: 41px;

        svg {
          position: relative;
          color: #fff;
        }
      }

      .c_p--g--info--title {
        margin-bottom: 40px;

        span {
          color: #ffffff;
          font-size: 38px;
          font-weight: 500;
          line-height: 44px;
        }
      }

      .c_p--g--info--text {
        p {
          color: #ffffff;
          font-size: 20px;
          font-weight: 300;
          line-height: 34px;
        }
      }
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &.active {
      max-width: 900px;
      background-color: #2c37e3;

      &:before {
        right: 88px;
        background-color: #4953ef;
      }

      &:after {
        right: 75px;
        color: #626bfa;
      }

      .c_p--g--title {
        opacity: 0;
        visibility: hidden;
      }

      .c_p--g--info {
        top: 0;
        opacity: 1;
        max-height: 100%;
        position: relative;
        visibility: visible;
        transition: position .4s ease-in-out .4s, opacity .4s ease-in-out .4s, visibility .4s ease-in-out .4s, max-height .4s ease-in-out .4s;
      }
    }
  }
}

.corporate_quote {
  width: 100%;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 186px;

  .c_q--icon {
    position: absolute;
    top: 0;
    left: 160px;
    width: 111px;
    z-index: 1;
    &:nth-child(2) {
      left: initial;
      top: 45%;
      right: 160px;
      transform: rotate(180deg);
    }
  }

  .c_q--item {
    width: 100%;
    padding: 0 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;

    .c_q--item--img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin-bottom: 45px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .c_q--item--text {
      margin-bottom: 31px;

      p {
        color: #33343d;
        text-align: center;
        font-size: 43px;
        font-weight: 300;
        line-height: 51.9px;
      }
    }

    .c_q--item--name {
      span {
        color: #2c37e3;
        font-size: 26px;
        font-weight: 300;
      }
    }
  }
}

.corporate_how {
  position: relative;
  padding-top: 130px;
  padding-bottom: 98px;
  background-color: #f7f8fd;
}

.corporate_how--wrap {
  width: 100%;
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.c_h--w--left {
  width: 100%;
  max-width: 400px;
  margin-right: 10px;
}

.c_h--w--left--icon {
  width: 203px;
  height: 203px;
  background-color: #1d1f2c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 50%;
  margin-bottom: 82px;

  .c_h_square_top {
    width: 85px;
    position: absolute;
    left: initial;
    top: -26px;
    right: -21px;
    z-index: 2;
  }

  .c_h_line_top {
    position: absolute;
    top: -35px;
    left: -56px;
    width: 48px;
    z-index: 1;
  }
  .c_h_line_bottom {
    position: absolute;
    top: initial;
    left: initial;
    right: -50px;
    bottom: -40px;
    width: 48px;
    z-index: 3;
    path {
      stroke: black;
    }
  }

  svg {
    top: 20px;
    left: 2px;
    position: relative;
    width: 165px;
    z-index: 5;
  }
}

@keyframes CSquareAnimationFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(-5%, 5%) rotate(120deg) scale(.96);
  }
  70% {
    transform: translate(-5%, 5%) rotate(240deg) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.c_h--w--left--title {
  margin-bottom: 137px;

  span {
    color: #1e1f29;
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
  }
}

.c_h--w--left--btn {
  width: 100%;
  max-width: 403px;
  height: 133px;
  background-color: #2c50ff;
  padding: 0 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;

  &:hover {
    &:after {
      height: 100%;
    }
    span, i {
      color: #2c50ff;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: '';
    background: #fff;
    transition: height .4s ease-in-out;
    z-index: 1;
  }

  span {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 39px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    transition: color .4s ease-in-out;
  }

  i {
    color: #fff;
    position: relative;
    z-index: 2;
    transition: color .4s ease-in-out;
    font-size: 26px;
  }
}

.c_h--w--right {
  width: 100%;
  max-width: 742px;
  counter-reset: how;
}

.c_h--w--right--item {
  width: 100%;
  box-shadow: 0 11px 67px rgba(21, 28, 130, 0.03);
  background-color: #ffffff;
  padding: 62px 70px 63px 62px;
  margin-bottom: 4px;
  position: relative;

  &:before {
    position: absolute;
    top: 23px;
    right: 23px;
    width: 36px;
    height: 36px;
    background-color: #dee3f6;
    counter-increment: how;
    content: '0' counter(how);
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 68px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c_h--w--right--item--title {
  margin-bottom: 40px;

  span {
    color: #33343d;
    font-size: 23px;
    font-weight: 500;
    line-height: 31px;
  }
}

.c_h--w--right--item--text {
  p {
    color: #33343d;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
}

.corporate_how--bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 144px;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}