@font-face {
  font-family: 'Din';
  src: urlCss('fonts/Din Light/DINPro-Light.eot');
  src: urlCss('fonts/Din Light/DINPro-Light.eot') format('embedded-opentype'),
  urlCss('fonts/Din Light/DINPro-Light.woff2') format('woff2'),
  urlCss('fonts/Din Light/DINPro-Light.woff') format('woff'),
  urlCss('fonts/Din Light/DINPro-Light.ttf') format('truetype'),
  urlCss('fonts/Din Light/DINPro-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Din';
  src: urlCss('fonts/Din Regular/DINPro.eot');
  src: urlCss('fonts/Din Regular/DINPro.eot') format('embedded-opentype'),
  urlCss('fonts/Din Regular/DINPro.woff2') format('woff2'),
  urlCss('fonts/Din Regular/DINPro.woff') format('woff'),
  urlCss('fonts/Din Regular/DINPro.ttf') format('truetype'),
  urlCss('fonts/Din Regular/DINPro.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Din';
  src: urlCss('fonts/Din Medium/DINPro-Medium.eot');
  src: urlCss('fonts/Din Medium/DINPro-Medium.eot') format('embedded-opentype'),
  urlCss('fonts/Din Medium/DINPro-Medium.woff2') format('woff2'),
  urlCss('fonts/Din Medium/DINPro-Medium.woff') format('woff'),
  urlCss('fonts/Din Medium/DINPro-Medium.ttf') format('truetype'),
  urlCss('fonts/Din Medium/DINPro-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Din';
  src: urlCss('fonts/Din Black/DINPro-Black.eot');
  src: urlCss('fonts/Din Black/DINPro-Black.eot') format('embedded-opentype'),
  urlCss('fonts/Din Black/DINPro-Black.woff2') format('woff2'),
  urlCss('fonts/Din Black/DINPro-Black.woff') format('woff'),
  urlCss('fonts/Din Black/DINPro-Black.ttf') format('truetype'),
  urlCss('fonts/Din Black/DINPro-Black.svg') format('svg');
  font-weight: 800;
  font-style: normal;
}


/*Icon font*/
@font-face {
  font-family: 'fontello';
  src: urlCss('fonts/fontello/fontello.eot?13517544');
  src: urlCss('fonts/fontello/fontello.eot?13517544#iefix') format('embedded-opentype'),
  urlCss('fonts/fontello/fontello.woff2?13517544') format('woff2'),
  urlCss('fonts/fontello/fontello.woff?13517544') format('woff'),
  urlCss('fonts/fontello/fontello.ttf?13517544') format('truetype'),
  urlCss('fonts/fontello/fontello.svg?13517544#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;

  margin-left: .2em;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.icon-twitter:before { content: '\e800'; } /* '' */
.icon-vk:before { content: '\e801'; } /* '' */
.icon-additional:before { content: '\e802'; } /* '' */
.icon-ads:before { content: '\e803'; } /* '' */
.icon-arrow:before { content: '\e804'; } /* '' */
.icon-arrow_telegram:before { content: '\e805'; } /* '' */
.icon-back:before { content: '\e806'; } /* '' */
.icon-btn_arrow:before { content: '\e807'; } /* '' */
.icon-calculator:before { content: '\e808'; } /* '' */
.icon-check:before { content: '\e809'; } /* '' */
.icon-cross:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-icon_mobile:before { content: '\e80c'; } /* '' */
.icon-icon_telegram:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-result:before { content: '\e80f'; } /* '' */