/*Begin Header*/

.header_main {
  position: absolute;
  z-index: 40;
  width: 100%;

  .logo {
    height: auto;
    position: relative;
    top: 39px;
    left: 62px;
    max-width: 175px !important;

    svg {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      max-width: 175px !important;
    }

    a {
      position: relative;
      width: 100%;
      height: auto;
    }
  }
}

body {
  &.c_page {
    .header_main {
      .logo {
        path {
          fill: #fff;
        }
      }
    }

    .m_s--points {
      visibility: hidden;
      opacity: 0;
      display: none;
    }
  }

  &.m_page {
    overflow: hidden;
    position: relative;

    .header_main {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .main_screen--menu {
        position: fixed;
        height: 100vh;
      }
    }

    .m_s--points {
      position: relative;
    }
  }

  &.classic_page {
    .m_s--lang {
      display: none;
    }

    .m_s--nav {
      background: transparent;

      .m_s--nav--burger {
        i {
          background: #1e1f29;
        }
      }
    }

    .m_s--points {
      display: none;
    }
  }
}


.main_screen--menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 122px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.m_s--nav {
  width: 122px;
  height: 122px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1f29;
  cursor: pointer;
  position: relative;

  &:hover {
    .m_s--nav--burger {
      i {
        animation: burger-hover 1s infinite ease-in-out alternate forwards;

        &:nth-child(2) {
          animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
        }
      }
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #2c37e3;
    content: '';
    transition: width .4s ease-in-out;
    z-index: 1;
  }

  .m_s--nav--burger {
    position: relative;
    width: 28px;
    height: 13px;
    z-index: 15;

    &.active {
      i {
        &:nth-child(1) {
          transform: rotate(45deg);
          top: 12px;
          width: 31px;
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
          width: 30px;
          top: -10px;
        }
      }
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      width: 28px;
      height: 2px;
      background: #fff;
      transition: all .2s ease-in-out;
      transform-origin: bottom right 0;

      &:nth-child(2) {
        width: 14px;
        top: 10px;
        transition: all .4s ease-in-out;
      }
    }
  }
}

@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

.m_s--lang {
  position: relative;
  z-index: 10;
  cursor: pointer;


  &.active {
    .cls_lang {
      position: absolute;
      opacity: 1;
      visibility: visible;
      transform: translateY(300%);
    }

    a {
      &:nth-child(2) {
        top: 0;
        position: absolute;
        opacity: 1;
        visibility: visible;
        transform: translateY(100%);
      }

      &:nth-child(3) {
        top: 0;
        position: absolute;
        opacity: 1;
        visibility: visible;
        transform: translateY(200%);
      }

    }
  }

  .cls_lang {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 60;
    width: 122px;
    height: 122px;
    background-color: #f7f8fc;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0%);
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out;

    &:hover {
      background-color: #0c10ff;

      i {
        background: #fff
      }
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 1px;
      background: #1e1f29;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: background .4s ease-in-out;

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    transform: translateX(0);
    width: 122px;
    height: 122px;
    background-color: #f7f8fc;
    color: #1e1f29;
    font-size: 19px;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .4s ease-in-out, background-color .4s ease-in-out, color .4s ease-in-out;

    &.active {
      position: relative;
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      background-color: #0c10ff;
      color: #fff;
    }
  }
}

.m_s--points {
  display: flex;
  justify-self: flex-end;
  transform: rotate(-90deg) translateX(50%);

  a {
    color: #1e1f29;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    white-space: nowrap;
    margin: 0 35px;
    position: relative;

    &:hover {
      &:after {
        width: 100%;
      }
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      background: #2c37e3;
      height: 2px;
      content: '';
      transition: width .4s ease-in-out;
    }
  }
}

.m_s--top {
  z-index: 56;
  position: relative;
}

.main_menu {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  top: -200%;
  left: 0;
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top .0s ease-in-out 2s;

  &.active {
    top: 0;
    transition: top .0s ease-in-out;

    &:before {
      width: 50%;
      transition: width .4s ease-in-out;
    }

    &:after {
      height: 100%;
      transition: height .2s ease-in-out .4s;
    }

    .nav {
      a {
        opacity: 1;

        &:nth-child(1) {
          transition: opacity .4s ease-in-out .8s;
        }

        &:nth-child(2) {
          transition: opacity .4s ease-in-out 1.1s;
        }

        &:nth-child(3) {
          transition: opacity .4s ease-in-out 1.4s;
        }

        &:nth-child(4) {
          transition: opacity .4s ease-in-out 1.7s;
        }
      }
    }
  }

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    content: '';
    background: #fff;
    transition: width .4s ease-in-out 1.1s;
    z-index: 54;
  }

  &:after {
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 0;
    transition: height .2s ease-in-out 1.3s;
    content: '';
    z-index: 54;
  }

  .nav {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 56;
    counter-reset: number;

    a {
      position: relative;
      white-space: nowrap;
      opacity: 0;

      &:nth-child(1) {
        transition: opacity .4s ease-in-out;
      }

      &:nth-child(2) {
        transition: opacity .4s ease-in-out .2s;
      }

      &:nth-child(3) {
        transition: opacity .4s ease-in-out .4s;
      }

      &:nth-child(4) {
        transition: opacity .4s ease-in-out .6s;
      }

      span {
        color: #d8dce9;
        font-size: 100px;
        font-weight: 800;
        line-height: 120px;
        text-transform: uppercase;
        transition: color .4s ease-in-out;

        &:after {
          position: absolute;
          top: 43px;
          left: calc(-100% - 60px);
          width: 0;
          height: 2px;
          background: #2c37e3;
          content: '';
          transition: width .4s ease-in-out;
        }

        &:before {
          position: absolute;
          top: -15px;
          left: -50px;
          counter-increment: number;
          content: "0" counter(number);
          color: #2c37e3;
          font-size: 28px;
          font-weight: 400;
          text-transform: uppercase;
          opacity: 0;
          transition: opacity .4s ease-in-out .4s;
        }
      }


      &:hover {
        span {
          color: #000;

          &:before {
            opacity: 1;
          }

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

/*End Right menu*/


/*End Header*/