.indevelop_page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #fff;
  padding-bottom: 40px;
  overflow: hidden;

  .indevelop_page--wrap {
    width: 100%;
    max-width: 1100px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .indevelop_img {
    position: relative;
    width: 100%;
    max-width: 1047px;
    margin-bottom: 5px;
    margin-top: -30px;

    svg {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }

  .indevelop_btn {
    width: 100%;
    max-width: 212px;
    height: 81px;
    background-color: #2c37e3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 80px;
    box-shadow: 0 20px 60px rgba(#2c37e3, .0);
    transition: box-shadow .4s ease-in-out;

    &:hover {
      box-shadow: 0 20px 60px rgba(#2c37e3, .3);
      span {
        color: #2c37e3;
      }

      &:before {
        height: 100%;
      }
    }

    span {
      position: relative;
      z-index: 2;
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      transition: color .4s ease-in-out;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      content: '';
      background: #fff;
      transition: height .4s ease-in-out;
    }
  }

  .indevelop_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .indevelop_text--title {
    color: #1e1f29;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .indevelop_text--description {
    color: #4c4f70;
    font-size: 27px;
    font-weight: 300;
    line-height: 42px;
  }
}