.landing_page--main {
  position: relative;

  .l_p--main--bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 1800px;
    object-fit: cover;
    z-index: -1;
  }
}

.l_p--main--wrap {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
}

.l_p--header {
  padding-top: 182px;
  position: relative;

  .l_p--header--bg {
    position: absolute;
    top: 0;
    left: 230px;
    width: 224px;
    height: auto;
  }
}


.l_p--h--menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: 95px;

  .l_p--header--arrow {
    position: absolute;
    top: 0;
    left: -168px;
    color: #2c37e3;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: -20px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #dcdde9;
  }

  a {
    color: #9698ac;
    font-size: 17px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    margin-right: 65px;
    transition: color .4s ease-in-out;
    position: relative;

    &:before {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #2c37e3;
      transition: width .4s ease-in-out;
    }

    &.active {
      color: #2c3bff;
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &:hover {
      color: #2c3bff;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.l_p--title {
  width: 100%;
  max-width: 950px;
  color: #1e1f29;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}


.l_p--items-wrap {
  padding-top: 100px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  counter-reset: icons;

  .l_p-line {
    position: absolute;
    top: 0;
    right: -80px;
    width: 51px;
    height: auto;
  }
}

.l_p--item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 220px;
  justify-content: space-between;

  &.reverse {
    flex-direction: row-reverse;

    .l_p--icon--wrap {
      margin-right: 0;
      margin-left: 80px;

      &:before {
        left: initial;
        right: 40px;
      }

      &:after {
        left: initial;
        right: 0;
      }
    }
  }

  .l_p--icon--wrap {
    width: 100%;
    max-width: 530px;
    margin-right: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    &:before {
      top: 0;
      left: 0;
      width: 66px;
      height: 1px;
      background-color: #b3b4c5;
      content: '';
      position: absolute;
    }

    &:after {
      position: absolute;
      top: 0;
      left: 80px;
      color: #898aa6;
      font-size: 19px;
      font-weight: 400;
      counter-increment: icons;
      content: "0" counter(icons);
      transform: translateY(-50%);
    }

    .l_p--icon {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      box-shadow: 0 50px 85px rgba(44, 80, 255, 0.25);
      background-color: #2c50ff;
      position: relative;

      @keyframes pulse {
        0% {
          -moz-box-shadow: inset 0 0 0 rgba(#fff, 0.2);
          box-shadow: inset 0 0 0 rgba(#fff, 0.2);
        }
        70% {
          -moz-box-shadow: inset 0 0 0 80px rgba(#fff, 0);
          box-shadow: inset 0 0 0 80px rgba(#fff, 0);
        }
        100% {
          -moz-box-shadow: inset 0 0 0 rgba(#fff, 0);
          box-shadow: inset 0 0 0 rgba(#fff, 0);
        }
      }

      #line_icon {
        width: 84px;
        height: 16px;
        position: absolute;
        top: 40px;
        right: -16px;
        z-index: 3;
        transform-origin: center center 0;
      }

      #line_icon--second {
        width: 11px;
        height: 51px;
        position: absolute;
        bottom: -19px;
        left: -89px;
        z-index: 3;
      }

      #line_icon--third {
        width: 64px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: -179px;
        z-index: 3;
      }

      #square_icon {
        position: absolute;
        bottom: 14px;
        left: -30px;
        width: 96px;
        height: 96px;
        z-index: 2;
        transform-origin: center center 0;
      }

      #square_icon--second {
        position: absolute;
        top: 0;
        left: 24px;
        width: 96px;
        height: 96px;
        z-index: 2;
      }

      #square_icon--third {
        position: absolute;
        top: -30px;
        right: -24px;
        width: 96px;
        height: 96px;
        z-index: 2;
      }

      #main_icon {
        width: 179px;
        height: 242px;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }

      #main_icon--second {
        width: 170px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-30%);
        z-index: 1;
      }

      #main_icon--third {
        width: 143px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-40%);
        z-index: 1;
      }
    }
  }

  @keyframes LpSquareAnimationFirst {
    0% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
    50% {
      transform: translate(-5%, 5%) rotate(120deg) scale(.96);
    }
    70% {
      transform: translate(-5%, 5%) rotate(240deg) scale(.90);
    }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
  }

  @keyframes LpLineAnimationFirst {
    0% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
    50% {
      transform: translate(-50%, 50%) rotate(5deg) scale(.96);
    }
    70% {
      transform: translate(-25%, 15%) rotate(-5deg) scale(.90);
    }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
    }
  }

  .l_p--text {
    width: 100%;
    max-width: 380px;

    .l_p--text--title {
      color: #1e1f29;
      font-size: 38px;
      font-weight: 500;
      margin-bottom: 30px;
    }
  }

  .l_p--text--info {
    p {
      color: #33343d;
      font-size: 18px;
      font-weight: 400;
      line-height: 31px;
    }
  }

}

.landing_page--footer {
  position: relative;
  padding: 140px 0 125px 0;
}

.l_p--footer--wrap {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.l_p--f--left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 720px;

  .l_p--f--left--text {
    p {
      position: relative;
      padding-left: 20px;
      &:before {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 6px;
        height: 6px;
        content: '';
        background-color: #0c10ff;
      }
      &.f-title {
        padding-left: 0;
        &:before {
          content: none;
        }
      }
    }
  }

  .f-title {
    color: #2c50ff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  p {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.l_p--f--right {
  display: flex;
  align-items: center;
}

.l_p--btn-calc {
  width: 100%;
  max-width: 402px;
  height: 133px;
  background-color: #2c50ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  transition: box-shadow .4s ease-in-out;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #fff;
    content: '';
    transition: height .4s ease-in-out;
    z-index: 1;
  }

  &:hover {
    span, i {
      color: #2c50ff;
    }

    &:before {
      height: 100%;
    }

    box-shadow: 0 -20px 80px rgba(#2c50ff, .2);
  }


  span {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-right: 40px;
    transition: right .4s ease-in-out, color .4s ease-in-out;
    z-index: 2;
  }

  i {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    transition: right .4s ease-in-out, color .4s ease-in-out;
    z-index: 2;
  }
}


.bg-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: -1;
}