/* Begin Main page*/

.main_page {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.main_screen {
  width: calc(100% - 122px);
  height: 100vh;
  background: #fff;
  display: flex;
  position: relative;
}

.main_screen--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

}

.main_screen--left {
  flex: 1 1 50%;
  width: 50%;
  position: relative;
  overflow: hidden;
  height: 100%;

  .m_s--l--arrow {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 290px;
    height: auto;
    margin-bottom: 55px;

    svg {
      transform: rotate(-6deg);
      -webkit-filter: drop-shadow(-4px 110px 50px rgba(18, 48, 161, 0.34));
      filter: drop-shadow(-4px 110px 50px rgba(18, 48, 161, 0.34));
      cursor: pointer;
    }
  }

  .m_s--l--info {
    margin-left: 115px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}


.m_s--l--category {
  color: #2c37e3;
  font-size: 44px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.m_s--l--text {
  color: #1e1f29;
  font-size: 65px;
  font-weight: 800;
  line-height: 75px;
}

.main_screen--right {
  width: calc(50% - 66px);
  position: relative;
  overflow: hidden;
  height: 100%;

  .m_s--l--arrow {
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 299px;
    height: auto;
    margin-bottom: 55px;

    svg {
      transform: rotate(12deg);
      -webkit-filter: drop-shadow(-74px 95px 75px rgba(84, 105, 174, 0.3));
      filter: drop-shadow(-74px 95px 75px rgba(84, 105, 174, 0.3));
      cursor: pointer;
    }
  }

  .m_s--l--info {
    margin-left: 122px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .m_s--l--category {
    color: #fc413f;
  }
}

.m_s--l--wrap {
  position: absolute;
  bottom: 140px;
  z-index: 5;
  display: flex;
  flex-direction: column;
}


/*Begin Right menu*/

/*End Main page*/
.parallax {
  transform: scale(1.2);
}




