.websites_main {
  &.promo_main {
    .websites_top {
      padding-bottom: 200px;
    }

    .w_t--circle {
      right: 367px;
      left: initial;
    }
  }
}

.promo_info--wrap {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  padding: 80px 10px 0;
  z-index: 2;
  position: relative;
}

.p_i--wrap--icon {
  width: 369px;
  height: 371px;
  position: relative;

  #square {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 2;
    top: 98px;
    left: -70px;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 369px;
    height: 371px;
    overflow: hidden;
  }

  #promo_icon {
    image {
      &:nth-child(1) {
        transform-origin: center center 0;
        animation: promoAnimateImageFirst 15s ease-in-out infinite;
      }

      &:nth-child(2) {
        transform-origin: center center 0;
        animation: promoAnimateImageSecond 8s ease-in-out infinite;
      }
    }
  }
}

@keyframes promoAnimateSquare {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(5%, -5%) rotate(120deg) scale(.95);
  }
  70% {
    transform: translate(2%, 2%) rotate(0) scale(.90);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes promoAnimateImageFirst {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(0, 2%) rotate(20deg) scale(.95);
  }
  70% {
    transform: translate(0, 3%) rotate(0) scale(.95);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

@keyframes promoAnimateImageSecond {
  0% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
  50% {
    transform: translate(3%, 3%) rotate(0deg) scale(.95);
  }
  70% {
    transform: translate(3%, 5%) rotate(0) scale(.95);
  }
  100% {
    transform: translate(0, 0) rotate(0) scale(1);
  }
}

.p_i--wrap--text {
  width: 100%;
  max-width: 730px;
  margin-left: 152px;

  .p_i--wrap--title {
    display: flex;
    margin-bottom: 54px;

    span {
      color: #1e1f29;
      font-size: 38px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 30px;
    }

    .p_i--wrap--btn-calc {
      border-radius: 27px;
      background-color: #f6f8fd;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: #2c37e3;
      }
    }
  }

  .p_i--wrap--info {
    margin-bottom: 80px;

    p {
      color: #4c4f70;
      font-size: 24px;
      font-weight: 300;
    }
  }

  .p_i--wrap--description {
    width: 100%;
    max-width: 470px;

    p {
      color: #aeafc0;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.promo_calc {
  width: 100%;
  position: relative;
  padding: 182px 0 170px;
  background: #f7f8fd;
}

.p_c--wrap {
  width: 100%;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}

.p_c--wrap--title {
  color: #1e1f29;
  font-size: 49px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.p_c--wrap-calculator {
  display: flex;
  align-items: flex-start;
}

.p_c--w--c--left {
  width: 50%;
  display: flex;
}

.p_c--c--type {
  width: 100%;
  max-width: 320px;
  margin-right: 86px;

  .p_c--c--title {
    display: flex;

    span {
      color: #1e1f29;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 60px;
    }

    .p_c--c--type__info {
      margin-left: 11px;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: 14px;
        text-align: center;
        border-radius: 30px;
        width: 200px;
        display: block;
        padding: 10px 10px;
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }

      i {
        font-size: 20px;
        color: #8c8ea7;
        cursor: pointer;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }


    }
  }

  .p_c--c--buttons {
    display: flex;

    .p_c--c--btn {
      width: 100%;
      max-width: 148px;
      height: 81px;
      border: 2px solid #e6e7f4;
      background-color: #f6f8fd;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: border .4s ease-in-out, background-color .4s ease-in-out;

      &.active, &:hover {
        border: 2px solid #2c37e3;
        background-color: #2c37e3;

        span {
          color: #ffffff;
        }
      }

      span {
        text-align: center;
        color: #aeb0d1;
        font-size: 20px;
        font-weight: 400;
        transition: color .4s ease-in-out;
      }
    }
  }
}

.p_c--c--time {
  .p_c--c--title {
    display: flex;

    span {
      color: #1e1f29;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 60px;
    }

    .p_c--c--type__info {
      margin-left: 11px;
      position: relative;

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: 14px;
        text-align: center;
        border-radius: 30px;
        width: 200px;
        display: block;
        padding: 10px 10px;
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }

      i {
        font-size: 20px;
        color: #8c8ea7;
        cursor: pointer;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  .p_c--c--time--input {
    position: relative;
    display: flex;

    .p_c--c--text {
      margin-left: 28px;
      display: flex;
      align-items: center;

      span {
        color: #1e1f29;
        font-size: 32px;
        font-weight: 300;
        text-transform: uppercase;
      }
    }

    .p_c--c--input {
      display: flex;

      .p_c--c--input--minute {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 92px;
        height: 81px;
        border: 2px solid #e6e7f4;

        span {
          color: #1e1f29;
          font-size: 25px;
          font-weight: 500;
        }
      }
    }

    .p_c--c--input-buttons {
      height: 100%;
      display: flex;
      flex-direction: column;

      .p_c--c--btn--plus, .p_c--c--btn--minus {
        width: 53px;
        height: 50%;
        background-color: #2c37e3;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color .4s ease-in-out;

        &:hover {
          background-color: #ffffff;

          i {
            color: #2c37e3;
          }
        }

        i {
          color: #fff;
          font-size: 8px;
          transition: color .4s ease-in-out;
          transform-origin: center center 0;
          margin-left: -5px;
          margin-top: 5px;
        }
      }

      .p_c--c--btn--minus {
        i {
          transform: rotate(180deg);
          transform-origin: center center 0;
          margin-left: 2px;
          margin-top: -5px;
        }
      }
    }
  }
}

.p_c--w--c--right {
  padding-left: 140px;
  margin-top: -15px;

  .p_c--right--title {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    span {
      color: #1e1f29;
      font-size: 20px;
      font-weight: 500;
      margin-right: 19px;
    }

    .p_c--right-info {
      border-radius: 23px;
      border: 1px solid #e6e7f4;
      background-color: #f6f8fd;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      position: relative;

      span {
        color: #8c8ea7;
        font-size: 18px;
        font-weight: 400;
        margin-right: 12px;
      }

      .p_c--r--t--info-text {
        position: relative;

        span {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-50%) translateY(-140%);
          background: #fff;
          color: #1e1f29;
          font-size: 14px;
          text-align: center;
          border-radius: 30px;
          width: 200px;
          display: block;
          padding: 10px 10px;
          opacity: 0;
          transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
          visibility: hidden;
        }

        i {
          font-size: 20px;
          color: #8c8ea7;
          cursor: pointer;

          &:hover {
            ~ span {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }

  .p_c--right--sum {
    display: flex;
    align-items: center;

    .p_c--sum--price {
      color: #1e1f29;
      font-size: 85px;
      font-weight: 800;
      text-transform: uppercase;
      margin-right: 30px;
    }

    .p_c--sum--day {
      color: #8c8ea7;
      font-size: 85px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.promo_portfolio {
  background: #fff;
  padding: 178px 0 0;
}

.promo_portfolio--wrap {
  width: 100%;
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .promo_portfolio--item {
    width: 50%;
    position: relative;
    overflow: hidden;
    height: 383px;
    padding: 80px 60px;
    cursor: pointer;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgba(#2c37e3, .5);
      content: '';
      transition: width .4s ease-in-out, opacity .4s ease-in-out;
      opacity: 0;
      z-index: 2;
    }

    &:hover {
      &:before {
        opacity: 1;
        width: 100%;
      }

      .promo_portfolio--item--img {
        transform: scale(1.1);
      }
    }

    .promo_portfolio--item--name {
      position: relative;
      z-index: 2;
      color: #ffffff;
      font-size: 43px;
      font-weight: 800;
      line-height: 43.5px;
      text-transform: uppercase;
    }

    .promo_portfolio--item--img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      transform: scale(1.02);
      transition: transform .4s ease-in-out;
    }
  }
}