.shop_page {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(#fff, #f7f8fd);

  .shop_page--bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    height: 1800px;
    object-fit: cover;
    z-index: 1;
  }
}

.shop_page--wrap {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.s_p--header {
  padding-top: 182px;
  position: relative;

  .s_p--header--bg {
    position: absolute;
    top: 0;
    left: 230px;
    width: 224px;
    height: auto;
  }
}

.s_p--h--menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  margin-bottom: 95px;

  .s_p--header--arrow {
    position: absolute;
    top: 0;
    left: -168px;
    color: #2c37e3;

    &:before {
      display: none;
    }
  }

  &:before {
    position: absolute;
    bottom: -20px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #dcdde9;
  }

  a {
    color: #9698ac;
    font-size: 17px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    margin-right: 65px;
    transition: color .4s ease-in-out;
    position: relative;

    &:before {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #2c37e3;
      transition: width .4s ease-in-out;
    }

    &.active {
      color: #2c3bff;
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &:hover {
      color: #2c3bff;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.s_p--title {
  width: 100%;
  max-width: 950px;
  color: #1e1f29;
  font-size: 80px;
  font-weight: 800;
  line-height: 105px;
  text-transform: uppercase;
  margin-bottom: 140px;
}

.s_p--wrap {
  position: relative;
  display: flex;
  margin-bottom: 140px;

  .s_p--wrap--item {
    width: 50%;
    padding: 92px 113px 92px 100px;
    background-color: #ffffff;

    &.blue {
      background-color: #2c37e3;

      .s_p--w--i--title {
        color: #ffffff;
      }

      .s_p--w--i--list {
        p {
          color: #ffffff;

          &:before {
            font-family: 'fontello';
            color: #fff;
            content: '\e809';
          }
        }
      }
    }


    .s_p--w--i--title {
      color: #1e1f29;
      font-size: 35px;
      font-weight: 300;
      line-height: 27px;
      text-transform: uppercase;
      padding-left: 57px;
      margin-bottom: 60px;
    }

    .s_p--w--i--list {
      width: 100%;
      max-width: 420px;

      p {
        position: relative;
        padding-left: 57px;
        margin-bottom: 30px;
        color: #1e1f29;
        font-size: 18px;
        font-weight: 500;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          font-family: 'fontello';
          position: absolute;
          top: 4px;
          left: 5px;
          content: '\e80a';
          color: #ee2d4b;
          font-size: 12px;
        }
      }
    }
  }
}

.function_wrap {
  padding-bottom: 100px;
}

.function_title {
  color: #1e1f29;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 65px;
}

.function_box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -14px;
}

.function_item {
  flex: 1 1 15%;
  margin: 0 14px 30px;
  box-shadow: 0 32px 67px rgba(130, 133, 192, 0.02);
  background-color: #ffffff;
  padding: 49px 30px 41px 30px;

  &:nth-child(2) {
    .function_item--icon {
      width: 53px;
    }
  }

  &:nth-child(3) {
    .function_item--icon {
      width: 69px;
      margin-bottom: 60px;
    }
  }

  &:nth-child(4) {
    .function_item--icon {
      width: 49px;
    }
  }

  &:nth-child(5) {
    .function_item--icon {
      width: 63px;
    }
  }

  .function_item--icon {
    position: relative;
    width: 69px;
    margin-bottom: 44px;
  }

  .function_icon--title {
    color: #1e1f29;
    font-size: 19px;
    font-weight: 500;
    line-height: 23.5px;
    margin-bottom: 20px;
  }

  p {
    color: #777781;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
  }
}

.shop_footer {
  position: relative;
  padding: 130px 0 107px;
  display: flex;
  align-items: center;
  justify-content: center;

  .shop_footer--wrap {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  .s_f--btn {
    width: 100%;
    max-width: 402px;
    height: 132px;
    background-color: #2c50ff;
    padding: 0 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: box-shadow .4s ease-in-out;

    &:hover {
      &:before {
        width: 100%;
      }

      span, i {
        color: #2c50ff;
      }

      box-shadow: 0 -20px 80px rgba(#2c50ff, .2);
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      content: '';
      background: #fff;
      transition: width .4s ease-in-out;
      z-index: 1;
    }

    span {
      color: #ffffff;
      font-size: 20px;
      font-weight: 500;
      line-height: 39px;
      text-transform: uppercase;
      transition: color .4s ease-in-out;
      z-index: 2;
    }

    i {
      color: #fff;
      transition: color .4s ease-in-out;
      z-index: 2;
      font-size: 26px;
    }
  }

  .shop_footer--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}