/*Begin Websites page*/

.websites_main {
  overflow: hidden;
}

.websites_top {
  position: relative;
  width: 100%;
  padding: 180px 0 80px;
  overflow: hidden;

  .w_t--circle {
    position: absolute;
    top: 0;
    left: 540px;
    width: 224px;
    height: auto;
    z-index: 2;
  }

  .w_t--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  .w_t--wrap {
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    z-index: 5;
  }
}

.w_t--wrap {
  position: relative;

  a {
    color: #0c10ff;
    font-size: 20px;
    font-weight: 500;
    position: relative;

    &:hover {
      &:after {
        right: -40px;
      }

      span {
        margin-right: 50px;
      }
    }

    span {
      margin-right: 40px;
      transition: margin-right .4s ease-in-out;
    }

    i {
      &:before {
        transform: rotate(180deg);
        font-size: 16px;
      }
    }
  }

  .w_t--menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    margin-bottom: 75px;

    a {
      &:after {
        content: none;
      }
    }

    &:before {
      position: absolute;
      bottom: -20px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #dcdde9;
    }
  }


  .w_t--m--item {
    color: #9698ac;
    font-size: 17px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    margin-right: 65px;
    transition: color .4s ease-in-out;
    position: relative;

    &:before {
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 0;
      height: 2px;
      content: '';
      background: #2c37e3;
      transition: width .4s ease-in-out;
    }

    &.active {
      color: #2c3bff;
      cursor: pointer;

      &:before {
        width: 100%;
      }
    }

    &:hover {
      color: #2c3bff;
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.websites_m {
  width: 100%;
  background: #f7f8fd;
  padding: 157px 0 0;
  position: relative;

  .w_m--icon {
    position: absolute;
    top: 0;
    right: 200px;
    transform: translateY(-35%);
    width: 345px;
    height: 350px;

    svg {
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .w_m--wrap {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .title {
    text-align: center;
    color: #1e1f29;
    font-size: 49px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 144px;
  }
}

.w_m--top {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 -87px;
}

.w_m--t--item {
  width: 100%;
  max-width: 276px;
  flex: 1 1 30%;
  margin: 0 87px 50px;

  &.w_m--adaptive {
    .w_m--t--check {
      label {
        &:after {
          top: 24px;
          right: 4px;
          content: '';
          width: 20px;
          height: 20px;
          background: #fff;
        }
      }
    }
  }
}

.w_m--t--title {

  margin-bottom: 54px;
  display: flex;

  span {
    color: #1e1f29;
    font-size: 20px;
    font-weight: 600;
  }

  .p_c--c--type__info {
    margin-left: 11px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-140%);
      background: #fff;
      color: #1e1f29;
      font-size: 14px;
      text-align: center;
      border-radius: 30px;
      width: 200px;
      display: block;
      padding: 10px 10px;
      opacity: 0;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
      visibility: hidden;
    }

    i {
      font-size: 20px;
      color: #8c8ea7;
      cursor: pointer;

      &:hover {
        ~ span {
          opacity: 1;
          visibility: visible;
        }
      }
    }


  }
}

.w_m--t--check {
  position: relative;
  width: 100%;
  height: 54px;
  max-width: 276px;
  margin-bottom: 11px;

  label {
    width: 100%;
    height: 54px;
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid #e6e7f4;
    background-color: #f6f8fd;
    color: #1e1f29;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 0 60px 0 19px;
    transition: .4s ease-in-out;
    cursor: pointer;

    &:after {
      font-family: 'fontello';
      position: absolute;
      top: 22px;
      right: 5px;
      transform: translate(-50%, -50%);
      color: #fff;
      content: '\e809';
      text-align: center;
      font-size: 14px;
      z-index: 2;
      opacity: 0;
      transition: opacity .4s ease-in-out;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 51px;
      height: 51px;
      background-color: #e6e7f4;
      content: '';
      transition: background-color .4s ease-in-out;
      text-align: center;
      font-size: 14px;
      z-index: 1;
    }
  }

  input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    border: none;

    &:checked {
      ~ label {
        border: 2px solid #2c37e3;
        background-color: #f6f8fd;
        color: #2c37e3;

        &:before {
          background-color: #2c37e3;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }
}

.w_m--main {
  position: relative;
  display: flex;
}

.w_m--m--item {
  flex: 1 1 50%;
  width: 50%;
  background: #fff;
  padding: 89px 74px 137px 88px;
  border-right: 1px solid #f7f8fd;

  &:nth-child(2) {
    border-right: none;
  }
}

.w_m--m--title {
  margin-bottom: 65px;
  position: relative;
  padding-left: 46px;

  span {
    color: #1e1f29;
    font-size: 22px;
    font-weight: 500;
    line-height: 44px;
  }

  .p_c--c--type__info {
    margin-left: 11px;
    position: relative;

    span {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-140%);
      background: #fff;
      color: #1e1f29;
      font-size: 14px;
      text-align: center;
      border-radius: 30px;
      width: 200px;
      display: block;
      padding: 10px 10px;
      opacity: 0;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
      visibility: hidden;
      line-height: initial;
    }

    i {
      font-size: 20px;
      color: #8c8ea7;
      cursor: pointer;

      &:hover {
        ~ span {
          opacity: 1;
          visibility: visible;
        }
      }
    }


  }

  &.additional {
    &:before {
      content: '\e802';
    }
  }

  &.advertising {
    &:before {
      margin-top: 7px;
      content: '\e803';
      font-size: 22px;
    }
  }

  &:before {
    font-family: 'fontello';
    position: absolute;
    top: 0;
    left: 0;
    color: #1e1f29;
    font-size: 26px;
  }
}

.w_m--m-line {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &.active {
    .w_m--cost-block {
      .w_m--m-l--cost {
        opacity: 1;
      }

      span {
        opacity: 1;
      }

      .w_m--m-l--number {
        opacity: 1;
      }
    }

    .w_m--m-line--check {
      label {
        background-color: #2c37e3;

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .w_m--m-line--check {
    position: relative;
    width: 22px;
    height: 22px;
    cursor: pointer;

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 3px;
      background-color: #e6e7f4;
      content: '';
      margin: 0;
      transition: background-color .4s ease-in-out;
      cursor: pointer;

      &:after {
        font-family: 'fontello';
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '\e809';
        opacity: 0;
        transition: opacity .4s ease-in-out;
        font-size: 10px;
      }
    }

    input[type="checkbox"] {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;

      /*&:checked {
        ~ label {
          background-color: #2c37e3;

          &:after {
            opacity: 1;
          }
        }
      }*/
    }
  }


  .w_m--m-l--name {
    color: #33343d;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    max-width: 300px;
    margin-right: 10px;
  }

  .w_m--cost-block {
    width: 100%;
    max-width: 210px;
    margin-right: 10px;
    display: flex;
    align-items: center;

    span {
      color: #6b6c78;
      font-size: 16px;
      font-weight: 500;
      opacity: .4;
      transition: opacity .4s ease-in-out;
    }

    .w_m--m-l--cost {
      opacity: 0.38;
      color: #33343d;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      margin-right: 21px;
      transition: opacity .4s ease-in-out;
    }

    .w_m--m-l--number {
      width: 50px;
      height: 31px;
      border: 1px solid #e6e7f4;
      color: #6b6c78;
      font-size: 16px;
      font-weight: 500;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      -webkit-appearance: none;
      opacity: .4;
      transition: opacity .4s ease-in-out;

      &::placeholder {
        color: #6b6c78;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.websites_b {
  position: relative;
  width: 100%;
  padding-top: 146px;

  .websites_b--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  .w_m--wrap {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
  }
}

.w_b--left {
  width: 100%;
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.w_b--title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  padding-left: 46px;
  margin-bottom: 44px;

  &:before {
    font-family: 'fontello';
    position: absolute;
    top: 0;
    left: 0;
    content: '\e80f';
    color: #fff;
  }
}

.w_b--list {
  width: 100%;
  max-width: 600px;
}

.w_b--list--main {
  margin-bottom: 60px;
  width: 100%;
}

.w_b--list--line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.w_b--list--main--type {
  font-size: 20px;
  color: #9499e6;
  font-weight: 300;
  width: 100%;
  max-width: 440px;
  margin-right: 10px;

  span {
    color: #d5d8ff;
    font-weight: 500;
  }
}

.w_b--list--main--cost {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}


.w_b--right {
  width: 50%;
}

.w_b--top {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    margin-right: 19px;
  }

  .w_b--top--include {
    height: 46px;
    border-radius: 23px;
    border: 1px solid #4550f2;
    display: flex;
    align-items: center;
    padding: 14px 20px;

    .w_b--top--include--btn {
      color: #9a9ff4;
      font-size: 18px;
      font-weight: 400;
      margin-right: 10px;
    }

    .icon_why {
      position: relative;

      i {
        width: 17px;
        height: 17px;
        cursor: pointer;
        color: #a9adda;

        &:hover {
          ~ span {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      span {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-50%) translateY(-140%);
        background: #fff;
        color: #1e1f29;
        font-size: 14px;
        text-align: center;
        border-radius: 30px;
        width: 200px;
        display: block;
        padding: 10px 10px;
        opacity: 0;
        transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
        visibility: hidden;
      }
    }
  }
}

.w_b--top--result {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  .w_b--top--result--cost {
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 50px;
  }

  .w_b--top--result--day {
    color: #7d84f5;
    font-size: 65px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.btn_order {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  height: 192px;
  background-color: #ffffff;
  position: relative;
  padding-left: 68px;
  cursor: pointer;

  &:hover {
    i {
      right: 150px;
    }

    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    background: #f2f3fe;
    content: '';
    z-index: 1;
    transition: width .4s ease-in-out, background .4s ease-in-out;
  }

  span {
    color: #33343d;
    font-size: 32px;
    font-weight: 400;
    z-index: 3;
    position: relative;
    transition: color .4s ease-in-out;
  }

  i {
    position: absolute;
    top: 50%;
    right: 94px;
    transform: translateY(-50%);
    z-index: 2;
    transition: right .4s ease-in-out, color .4s ease-in-out;
  }
}

#w_m--icon {
  #Vector_Smart_Object_copy_3 {
    animation: animateIconMain 3s ease-in-out infinite;
  }

  #Vector_Smart_Object {
    animation: animateIcon 5s ease-in-out infinite;
  }
}

@keyframes animateIcon {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes animateIconMain {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(.98);
  }
  100% {
    transform: scale(1);
  }
}

.popup_confirm {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#f7f8fd, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 55;
  opacity: 0;
  visibility: hidden;
  top: -200vh;
  transition: top 0s ease-in-out .4s, opacity .4s ease-in-out, visibility .4s ease-in-out;

  &.active {
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: top 0s ease-in-out, opacity .4s ease-in-out, visibility .4s ease-in-out;
  }

  .popup_wrap {
    width: 100%;
    max-width: 568px;
    box-shadow: 0 30px 101px rgba(145, 152, 179, 0.15);
    background-color: #fff;
    display: flex;
    flex-direction: column;

    .popup_bottom {
      padding: 70px 70px;
      background-color: #f8f8fb;

      p {
        color: #6b6d7c;
        font-size: 24px;
        font-weight: 300;
        line-height: 32px;
      }
    }

    .popup_info {
      padding-left: 74px;
      padding-right: 74px;
      padding-bottom: 81px;

      .popup_site--type {
        color: #1e1f29;
        font-size: 33px;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .popup_site--sum {
        display: flex;
        align-items: center;

        .popup_site--sum--cost {
          color: #1e1f29;
          font-size: 55px;
          font-weight: 800;
          text-transform: uppercase;
          margin-right: 36px;
        }

        .popup_site--sum--day {
          color: #b1b2c0;
          font-size: 50px;
          font-weight: 300;
          text-transform: uppercase;
        }
      }
    }

    .popup_top {
      display: flex;
      align-items: center;
      padding-left: 74px;
      margin-bottom: 82px;

      .popup_icon {
        position: relative;
        width: 125px;
        height: 125px;
        margin-right: 36px;

        svg {

        }
      }

      .popup_title {
        width: 100%;
        max-width: 230px;
        color: #2c37e3;
        font-size: 30px;
        font-weight: 300;
        text-transform: uppercase;
      }

      .popup_cls {
        position: relative;
        width: 125px;
        height: 125px;
        transition: background-color .4s ease-in-out;
        cursor: pointer;

        i {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 18%;
          height: 1px;
          background-color: #1e1f29;
          transform: translate(-50%, -50%) rotate(45deg);
          transition: background-color .4s ease-in-out;

          &:nth-child(2) {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }

        &:hover {
          background-color: #2c37e3;

          i {
            background-color: #fff;
          }
        }
      }
    }
  }
}

/*End Websites page*/