<footer>

</footer>
<div class="preloader active">
    <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 176 28">
            <g>
                <g>
                    <path
                          d="M173.459 2.554H37.767v22.89h135.692zM175.497.5v26.998H.496V.5zM53.147 21.02l-6.58-8.389v8.389h-2.973V7.04h2.538l6.58 8.427V7.04h2.971v13.98zM65.592 7.04h8.224v2.995h-5.054v2.456h4.459v2.996h-4.458v2.537h5.25v2.996h-8.42zm16.15 2.995V7.039h11.493v2.996h-4.162V21.02h-3.169V10.035zm24.93 3.015h5.924v6.232c-1.228 1.238-3.467 1.977-5.192 1.977-4.756 0-7.43-2.876-7.43-7.23 0-4.014 2.674-7.23 7.034-7.23 2.061 0 3.41.56 4.537 1.458l-1.327 2.577c-.554-.6-1.763-1.038-2.833-1.038-2.28 0-4.043 1.357-4.043 4.233 0 2.577 1.624 4.234 4.101 4.234.834 0 1.864-.4 2.18-.699v-1.518h-2.952zm19.023-6.01h2.832l5.768 13.98h-3.389l-1.15-2.937h-5.488l-1.15 2.937h-3.189zm-.238 8.048h3.11l-1.544-3.955zm14.308-8.049h11.493v2.996h-4.16V21.02h-3.172V10.035h-4.161zm19.816 13.98V7.04h8.224v2.996h-5.054v2.456h4.46v2.996h-4.46v2.537h5.253v2.996zM15.638 5.988l-12.4 7.497v.966l12.4 7.554v-2.47l-9.272-5.566 9.272-5.51zm19.415 7.497l-12.37-7.497v2.471l9.27 5.51-9.27 5.566v2.47l12.37-7.554z"/>
                </g>
            </g>
        </svg>
    </div>
    <span></span>
    <span></span>
</div>
<script src="dist/js/main.js"></script>

